@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "";
}


<h1>Scope</h1>
<div ng-app="personApp">
    <div ng-controller="personController">
        <strong>Name:</strong> {{name}} <br />
        <strong>Missing Property (age): </strong> {{age}}
    </div>
</div>

<script src="~/lib/angular/angular.js"></script>
<script src="~/app/scope.js"></script>